
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="">
        <h1 class="text-center pt-5">Angular Chartjs</h1>
      </div>
      <div class="chart-wrapper py-5">
        <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
        </canvas>
      </div> 
    </div>
  </div> 
</div>
 